@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model PhoneWebApp.Models.TicketViewModel
<div asp-validation-summary="All" class="text-danger"></div>

<h1>ToDo Tickets</h1>

<p>Filter:</p>

<form asp-action="Index" method="get">
    <button type="submit" name="status" value="All" class="btn btn-dark">All</button>
    <button type="submit" name="status" value="To Do" class="btn btn-secondary">To Do</button>
    <button type="submit" name="status" value="In Progress" class="btn btn-primary">In Progress</button>
    <button type="submit" name="status" value="QA" class="btn btn-warning">QA</button>
    <button type="submit" name="status" value="Done" class="btn btn-success">Done</button>
</form>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Sprint</th>
        <th>Points</th>
        <th>Status</th>
    </tr>

    @foreach (var ticket in Model.Tickets)
    {
        <tr>
            <td>@ticket.Id</td>
            <td>@ticket.Name</td>
            <td>@ticket.Description</td>
            <td>@ticket.SprintNumber</td>
            <td>@ticket.PointValue</td>
            <td>
                @await Component.InvokeAsync("Status", new { status = ticket.Status })
            </td>
        </tr>
    }
</table>